env:
  DOTNET_VERSION: '8.0.x'
  FUNCTION_PROJECT: '00_src/Redirect.Func/Redirect.Func.csproj'
  PUBLISH_DIR: 'publish_output'

steps:
  - name: Checkout
    uses: actions/checkout@v4

  - name: Setup DotNet
    uses: actions/setup-dotnet@v1
    with:
      dotnet-version: ${{ env.DOTNET_VERSION }}

  - name: Restore
    run: dotnet restore ${{ env.FUNCTION_PROJECT }}

  - name: Build
    run: dotnet build ${{ env.FUNCTION_PROJECT }} -c Release --no-restore

  - name: Publish
    run: dotnet publish ${{ env.FUNCTION_PROJECT }} -c Release -o ${{ env.PUBLISH_DIR }} --no-build

  - name: Deploy
    uses: Azure/functions-action@v1
    with:
      app-name: 'redirect-func'
      slot-name: 'Production'
      package: ${{ env.PUBLISH_DIR }}
      publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_E0379C862CF84CA6869CBD76E7C3EFC4 }}
