env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './output'
  DOTNET_VERSION: '8.0.x'

jobs:
  build-and-deploy:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup DotNet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Publish Azure Functions app
        shell: pwsh
        run: |
          dotnet publish .\00_src\Redirect.Func\Redirect.Func.csproj -c Release -o ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}

      - name: Deploy
        uses: Azure/functions-action@v1
        with:
          app-name: 'redirect-func'
          slot-name: 'Production'
          package: '${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/output'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_E0379C862CF84CA6869CBD76E7C3EFC4 }}